fastapi
uvicorn[standard]
python-dotenv
transformers
sentencepiece
scikit-learn
beautifulsoup4
requests
pydantic-settings
pydantic[email]
python-multipart

# Database & Autentikasi
motor
pymongo[srv]
passlib[bcrypt]
python-jose[cryptography]
